.statistics {
  text-align: center;
  padding: 0;
  max-width: 400px;
  border: 1px solid grey;
}
.title {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.item {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.label {
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 400;
  font-size: small;
}
.percentage {
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 700;
  font-size: larger;
}
